<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">



</manifest>

<!--<application-->
<!--    &lt;!&ndash;        android:allowBackup="true"&ndash;&gt;-->
<!--    &lt;!&ndash;        android:dataExtractionRules="@xml/data_extraction_rules"&ndash;&gt;-->
<!--    &lt;!&ndash;        android:fullBackupContent="@xml/backup_rules"&ndash;&gt;-->
<!--    &lt;!&ndash;        android:icon="@mipmap/ic_launcher"&ndash;&gt;-->
<!--    &lt;!&ndash;        android:label="@string/app_name"&ndash;&gt;-->
<!--    &lt;!&ndash;        android:roundIcon="@mipmap/ic_launcher_round"&ndash;&gt;-->
<!--    &lt;!&ndash;        android:supportsRtl="true"&ndash;&gt;-->
<!--    &lt;!&ndash;        android:theme="@style/Theme.MyApplication"&ndash;&gt;-->
<!--    &lt;!&ndash;        tools:targetApi="31">&ndash;&gt;-->
<!--    &lt;!&ndash;        <activity&ndash;&gt;-->
<!--    &lt;!&ndash;            android:name=".MainActivity"&ndash;&gt;-->
<!--    &lt;!&ndash;            android:exported="true"&ndash;&gt;-->
<!--    &lt;!&ndash;            android:label="@string/app_name"&ndash;&gt;-->
<!--    &lt;!&ndash;            android:theme="@style/Theme.MyApplication">&ndash;&gt;-->
<!--    &lt;!&ndash;            <intent-filter>&ndash;&gt;-->
<!--    &lt;!&ndash;                <action android:name="android.intent.action.MAIN" />&ndash;&gt;-->

<!--    &lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
<!--    &lt;!&ndash;            </intent-filter>&ndash;&gt;-->
<!--    &lt;!&ndash;        </activity>&ndash;&gt;-->
<!--    </application>-->